:root {
    --beau: #BFD7EA;
    --pewter: #91AEC1;
    --munsell: #508CA4;
    --white: #ffffff;
}

#root {
    height: 100%;
}

body {
  background-color: var(--munsell) !important;
}
/* Home */ 

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  z-index: 2;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}



/* Signup */


.signup-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
   display: flex;
  flex-direction: column;
  justify-content: center;

  
}

.signup {
 opacity: .9;

}



/* Login */


.login-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.login {
 opacity: .9;

}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

/* NavBar Styling Start */
.ui.secondary.menu {
    background-color: var(--beau) !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    text-align: center;
}

.ui[class*="one column"].grid>.column:not(.row) {
    padding: none !important;
}

.ui.secondary.menu .item:hover {
    background-color: var(--pewter) !important;
}
/* NavBar Styling End */

/* Sidebar Menu Styling Start */
.menuSidebar {
    background-color: var(--pewter) !important;
    font-size: 1.5rem !important;
    color: var(--munsell) !important
;
}

.menu-item {
    font-size: 2.0rem;
}

.menu-icon {
    margin-right: 5px !important;
}

.item:hover {
    background-color: var(--beau) !important;
}
/* Sidebar Menu Styling End */

/* StrengthForm Style Start */
.ui.button.addSet, .ui.button.deleteSet {
    background-color: var(--beau);
}

#select-modal {
    background-color: var(--beau);
}

#select-movement-header {
    font-size: 4.0rem !important;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    background-color: red !important;
}
/* StrengthForm Style End */

/* Post List */
.encourage-button:hover {
  background-color: var(--pewter) !important;
}

.comment-button:hover {
  background-color: var(--pewter) !important;
}
/*Post List End */

/* Comment Modal */
.comment-modal-card {
  background-color: var(--munsell) !important;
  color: var(--white) !important;
}

.comment-modal-card .header, .comment-modal-card .meta, .comment-modal-card .description {
  color: var(--white) !important;
}

.comment-modal-button:hover {
  background-color: var(--beau) !important;
  color: var(--munsell) !important;
}

.comment-modal-button {
  background-color: var(--munsell) !important;
  color: var(--white) !important;
  font-size: 1.10rem !important;
}